---
- name: Create node_exporter group
  group:
    name: node_exporter
    system: yes
    state: present

- name: Create node_exporter user
  user:
    name: node_exporter
    group: node_exporter
    append: no
    shell: /bin/bash
    system: yes
    state: present

- name: Install nvidia  Exporter
  get_url:
    src: https://github.com/utkuozdemir/nvidia_gpu_exporter/releases/download/v{{nvidia_exporter_version}}/nvidia-gpu-exporter_{{nvidia_exporter_version}}_linux_amd64.deb
    dest: /opt/nvidia-gpu-exporter_{{nvidia_exporter_version}}_linux_amd64.deb

- name: Install the NVIDIA GPU Exporter .deb package
  apt:
    deb: "nvidia-gpu-exporter_{{nvidia_exporter_version}}_linux_amd64.deb"
    state: present
