[Unit]
Description=Node Exporter

[Service]
User=node_exporter
ExecStart=/opt/node_exporter/node_exporter --web.listen-address={{ node_exporter_listen_ip }}:9100 --collector.systemd --collector.textfile.directory="/opt/node_exporter/textfiles"

[Install]
WantedBy=multi-user.target