global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h
  receiver: 'monitoring-matrix'
receivers:
- name: 'monitoring-matrix'
  webhook_configs:
     - url: 'http://localhost:3001/alerts?secret={{ matrix_alertmanager_secret }}']
inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']
