---
- name: Disable root login via SSH
  become: yes
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PermitRootLogin.*"
    line: "PermitRootLogin no"
    validate: "/usr/sbin/sshd -tf %s"
    backup: true
  register: ssh_harden_root

- name: Disable password authentication for SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PasswordAuthentication.*"
    line: "PasswordAuthentication no"
    validate: "/usr/sbin/sshd -tf %s"
  register: ssh_harden_ssh
  
- name: Restart SSH

  service:
      name: ssh
      state: restarted
