---
- name: Create sysadmin user if it does not exist
  user:
    name: sysadmin
    state: present
    comment: System Administrator
    createhome: yes
    groups: sudo
    shell: /bin/bash

- name: Update root password
  user:
    name: root
    password: "{{ root_password | password_hash('sha512') }}"
  when: root_password is defined

- name: Update sysadmin password
  user:
    name: sysadmin
    password: "{{ sysadmin_password | password_hash('sha512')}}"
  when: sysadmin_password is defined

- name: Update user keys
  ansible.posix.authorized_key:
#    user: "sysadmin"
    user: "{{ ansible_user }}"
    state: present
    key: "{{ item.key }}"
  with_items: "{{ ssh_user_keys + ssh_additional_user_keys | default([])}}"
